# Arquivos compilados
build/
dist/

# Configurações locais do NetBeans
nbproject/private/

# Cache do NetBeans
nbproject/private.properties
nbproject/private.xml

# Arquivos de log
*.log

# Arquivos temporários
*.class

# Arquivos do sistema
.DS_Store
Thumbs.db